/*
$font-stack: "brandon-grotesque", sans-serif;

// Mobile-Headers
$h1: 22px;
$h2: 20px;
$h3: 18px;
// Headers
$h1: 34px;
$h2: 32px;
$h3: 26px;

// P Tags
$m-fs: 16px;
$fs: 26px;

// Colors
$red: #ee3e2a;
$blue: #00aaeb;
$lightgray: #f1f1f1;
$gray: #e6e6e6;
$black: #6d6e70;
$white: #fff;
$purple: #b9a3cd;
*/

body {
    font: 100% "brandon-grotesque", sans-serif;
    color: #6d6e70;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

h1 {
    color: #00aaeb;
    font-size: 22px;
    text-transform: uppercase;
}

h2 {
    color: #ee3e2a;
    font-size: 20px;
    text-transform: uppercase;
}

h3 {
    color: #6d6e70;
    font-size: 18px;
    text-transform: uppercase;
}

p{
    color: #6d6e70;
    font-size: 16px;
    font-weight: 500;
    width: 75%;
    margin: 10px auto;
}

body > section {
    padding-bottom: 16px;
}

/* Accordion */
.accordion {
    list-style: none;
    padding-left: 0;
}

.accordion > li > header {
    background-color: #00aaeb;
    padding: 30px 70px;
    align-items: center;
    border-bottom: 1px solid #fff;
}

/* .accordion > li > header:after {
    content: "";
    background-image: url(img\UpdatedAssetts\Images\SVG\PlusButtonWhite.svg);
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 37px;
    height: 37px;
    z-index: 200;
}

.accordion > li > header svg, img {
    position: absolute;
    max-width: 38px;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
}

.accordion > li.opened > header:after{
    background-image: url(img\UpdatedAssetts\Images\SVG\MinusButtonWhite.svg);
} */

.accordion > li.opened > .content{
    max-height: 2000px;
    padding: 16px 32px;
}

.accordion > li > header > h2 {
    color: #fff;
    text-align: left;
    margin: 0;
}

.accordion > li > .content {
    display: none;
}

iframe{
    border: none;
    width: 100vw;
    height: 31vh;
}

/* Red Buttons */
.cta {
    position: relative;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ee3e2a;
    padding: 12px 24px;
    border-radius: 9px;
    display: inline-block;
    cursor: pointer;
    margin: 16px 0;
}

@media (min-width: 768px) {
    .cta {
        margin: 42px 0;
    }
}

/* Navbar */
nav.top > ul {
    padding: 0;
    list-style: none;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 5px 0;
}

nav.top > ul > li{
    font-size: 8px;
    font-weight: 600;
    padding: 0px 5px;
    text-transform: uppercase;
}

/* Logo */
.branding {text-align: left;}
.branding > img {
    width: 39%;
    padding: 12px;
}

/* Hamburger Menu */
.hamburger {
    position: absolute;
    top: 44px;
    right: 16px;
    padding: 4px 34px 4px 4px;
    height: 22px;
    cursor: pointer;
    user-select: none;
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
}

.hamburger > span {
    transition: all 0.3s ease;
    width: 38px;
    height: 2px;
    border-radius: 2px;
    background-color: #00aaeb;
    position: absolute;
    left: 0;
    display: block;
}

.hamburger > span:nth-of-type(1) { top: 0; }
.hamburger > span:nth-of-type(2) { top: 11px; }
.hamburger > span:nth-of-type(3) { top: 22px; }

nav.menu {
    background-color: #f1f1f1;
    border-bottom: 1px solid #eee;
}

nav.menu > ul {
    display: none;
}

/* Call Number */
a.call {
    display: block;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: #6d6e70;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 0;
}

/* Main Content */

/* Grow Old With Patients */
.grow-with-patients{
    border-bottom: 1px #707070 solid;
}

.grow-with-patients > p {
    width: 75%;
    margin: auto;
}

.grow-with-patients > ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.grow-with-patients > ul > li {
    flex: 1;
    margin-bottom: 20px;
}

.grow-with-patients > ul > li:last-child {
    margin-bottom: 0px;
}

.grow-with-patients > ul > li > img {
    width: 34%;
    margin: 5px 0;
}

.grow-with-patients > ul > li > p {
    background-color: #f1f1f1;
    font-size: 22px;
    font-weight: 400;
    width: 93%;
    margin: auto;
    padding: 20px 0;
}

.grow-with-patients > ul > li > p:before {
    content: "";
    border-top: solid 12px #fff;
    border-left: solid 12px transparent;
    border-right: solid 12px transparent;
    position: relative;
    top: -8px;
}

.grow-with-patients > ul > li > p span {
    display: block;
    font-weight: 600;
}

.grow-with-patients > ul > li > p > .purple {
    color: #b9a3cd;
    margin-top: -20px;
}

.grow-with-patients > ul > li > p > .blue {
    color: #00aaeb;
    margin-top: -20px;
}

.grow-with-patients > ul > li > p > .red {
    color: #ee3e2a;
    margin-top: -20px;
}

/* Auvi-Q Administration */
.administration {

}

.administration p{
    width: 75%;
    margin: 16px auto;
}

/* Design that Makes a Difference */
.design {
    background-color: #f1f1f1;
    padding-top: 16px;
}

.design h2{
    width: 75%;
    margin: 16px auto;
}

.accordion{
    margin-bottom: 0;
}

/* Easy to Use */
.easy-to-use {

}

.easy-to-use > header{
    background-color: #b9a3cd;
}

.easy-to-use > header > h2{
    color: #fff;
    margin: 0;
    padding-top: 16px;
}

.easy-to-use > header > p {
    color: #fff;
    padding-bottom: 16px;
    font-size: 14px;
    width: 100%;
}

.easy-to-use > img {
    width: 32%;
    margin: 10px 0;
}

.easy-to-use > ul {
    list-style: none;
    padding-left: 0;
    width: 80%;
    margin: auto;
    text-align: left;
}

.easy-to-use > ul > li {
    border-bottom: 3px solid #000;
}

.easy-to-use > ul > li:last-child {
    border-bottom: none;
}

.easy-to-use > ul > li p {
    font-size: 14px;
    width: 100%;
}

.easy-to-use > ul > li > p > a {
    color: #ee3e2a;
    text-decoration: underline;
}

.easy-to-use > ul > li p sup {
    color: #ee3e2a;
}

.easy-to-use > ul > li > ul {
    list-style-type: disc;
    padding-left: 15px;
}

.easy-to-use > ul > li > ul > li > p {
    margin: 0;
}

/* Anaphylaxis Video  */
.anaphylaxis-video{
    background-color: #f1f1f1;
}

.anaphylaxis-video > h2 {
    color: #00aaeb;
    padding-top: 16px;
}

.anaphylaxis-video > p > a {
    color: #ee3e2a;
    text-decoration: underline;
}

/* Needle Video */
.needle-video > h2{
    color: #00aaeb;
}

.needle-video > p > a {
    color: #ee3e2a;
    text-decoration: underline;
}

/* Made with Care */
.made-with-care {
    background-color: #f1f1f1;
}

.made-with-care > header {
    background-color: #00aaeb;
    height: 120px;
}

.made-with-care > header > h2 {
    color: #fff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    padding-left: 20px;
}

.made-with-care > h3 {
    color: #ee3e2a;
}

.made-with-care > ul {
    text-align: left;
}

.made-with-care > ul > li {
    padding-bottom: 5px;
}

.made-with-care > p {
    text-align: left;
}

/* Developed by Patients */


/* Good Fit? */
.good-fit {
    background-color: #f1f1f1;
    padding-bottom: 16px;
}

.good-fit > h2 {
    color: #6d6e70;
    padding-top: 16px;
}

.good-fit > a {
    text-decoration: none;
}

.good-fit > a > img {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 70%;
}

.good-fit > a > p {
    color: #fff;
    width: 100%;
    z-index: 2;
    position: relative;
    transform: translateY(-55px);
    left: 8%;
}

.good-fit > p > a {
    color: #ee3e2a;
}

.good-fit > img {
    display: none;
}